/* Eric G Rogers | Portfolio Website */



header {
    width: 960px;
    height: 150px;
}

p {
    font-size: 24px;
    width: 600px;
    margin: 60px auto 0 auto;
}

h1 {
    width: 400px;
    float: left;
}

nav {
    font-family: "Orbitron", sans-serif;
    width: 100%;
    height: 130px;
    background-color: #3d3d3d;
    background-image: url("../images/diagonal_lines.png");
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: inset -1px 17px 99px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: inset -1px 17px 99px 0px rgba(0,0,0,0.77);
    box-shadow: inset -1px 17px 99px 0px rgba(0,0,0,0.77);
}

nav ul {
    float: right;
    margin: 30px;
}

nav li:first-child, nav li + li {
    /*position: relative;*/
    /*top: 30px;*/
    /*left: 45%;*/

}

nav li {
    width: 140px;
    text-align: center;
    float: left;
    list-style: none;
}

nav li a {
    font-size: 20px;
    color: #fff;
}

nav a:before, nav a:after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
}
nav a:before {
    content: "[";
    margin-right: 10px;
    transform: translateX(20px);
}
nav a:after {
    content: "]";
    margin-left: 10px;
    transform: translateX(-20px);
}
nav a:hover:before, nav a:hover:after, nav a:focus:before, nav a:focus:after {
    opacity: 1;
    transform: translateX(0px);
}

#content1 {
    width: 960px;
    height: 600px;
    border: 1px solid #fff;
    margin: 30px auto;
}

/*backgrounds*/

#home {
    background: url(../images/dark_exa.png) 50% 0 repeat fixed; min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

#home article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
}

#about {
    background: url(../images/skulls.png) 50% 0 repeat fixed; min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
}